@import 'font';
@import 'mq';
@import 'share';

$max-content-width: 1020px;

figure.element-interactive {
    margin: 0 !important;
}

.cnv-container {
    background: #f7f7f7;
}

.cnv-content {
}

.cnv-conversations-container{
    max-width: $max-content-width;
    margin: auto;
    background: white;
}

.cnv-head-container {
    background: #474f52;
}

.cnv-meta-container {
    background: #333d3f;
}
.cnv-meta {
    max-width: $max-content-width;
    margin: auto;
    box-sizing: border-box;
    padding: 12px 10px;
    @include mq(mobileLandscape) {
        padding: 24px 20px;
    }
    @include mq(tablet) {
        padding: 24px 60px;
    }
    @include mq(desktop) {
        padding: 36px 80px;
    }
}
.cnv-meta__standfirst {
    max-width: 820px;
    @include fs-bodyHeading(2);
    @include mq(mobileLandscape) {
        @include fs-bodyHeading(3, true);
    }
    @include mq(tablet) {
        @include fs-bodyHeading(4, true);
    }
    @include mq(desktop) {
        font-size: 22px;
        line-height: 30px;
    }
    color: #dadada;
}

.cnv-meta__date {
    @include fs-textSans(1);
    color: #767676;
    line-height: 24px;
    margin-bottom: 12px;
}

.cnv-head {
    color: #6d7275;
    padding-bottom: 24px;
    padding: 12px 10px;
    margin: auto;
    max-width: $max-content-width;
    box-sizing: border-box;
    @include mq(mobileLandscape) {
        padding: 12px 20px;
    }
    @include mq(tablet) {
        padding: 12px 60px;
    }
    @include mq(desktop) {
        padding: 12px 80px;
    }
    > h3:first-child {
        margin-top: 12px;
        margin-bottom: 6px;
        @include fs-headline(2);
        @include mq(mobileLandscape) {
            margin-top: 24px;
            @include fs-headline(3);
        }
        @include mq(desktop) {
            margin-top: 24px;
            @include fs-headline(4);
        }
        font-weight: 100;
        color: #8B8F92;
    }

    > h2 {
        color: white;
        margin-top: 6px;
        margin-bottom: 12px;
        @include mq(tablet) {
            margin-bottom: 24px;
        }
    }
}


.cnv-head > h2,
.cnv-head__conversation > h2 {
    @include fs-bodyHeading(4);
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    @include mq(mobileLandscape) {
        font-size: 32px;
        line-height: 36px;
    }
    @include mq(tablet) {
        font-size: 42px;
        line-height: 48px;
    }
    @include mq(desktop) {
        font-size: 56px;
        line-height: 72px;
    }
}
.cnv-head__conversation > h2 {
    margin: 0;
    display: inline-block;
    position: relative;
}

.cnv-head__conversation {
    position: relative;
}

.cnv-head__conversation__author {
    @include fs-headline(1);
    @include mq(mobileLandscape) {
        font-size: 18px;
        line-height: 20px;
    }
    @include mq(desktop) {
        @include fs-headline(3, true);
    }
    font-weight: 100;
}

.cnv-head__conversation__downarrow {
    margin-left: 10px;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    @include mq(tablet) {
        width: 30px;
        height: 30px;
    }
    @include mq(desktop) {
        width: 36px;
        height: 36px;
    }
    svg {
        width: 55%;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto;
        fill: #6D7275;
    }
    .cnv-head__conversation:hover & {
        background: #49a7cb;
        svg {
            fill: white;
        }
    }
}

.cnv-downarrow {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cnv-uparrow {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.cnv-head__conversation {
    cursor: pointer;
    margin-bottom: 12px;
    display: block;
    text-decoration: none;
    color: #6d7275;
    &:hover {
        color: #49a7cb;
    }
}

.cnv-conversation {
    padding: 12px 10px;
    @include mq(mobileLandscape) {
        padding: 12px 20px;
    }
    @include mq(tablet) {
        padding: 12px 60px;
    }
    @include mq(desktop) {
        padding: 12px 80px;
    }
    position: relative;
    > h2 {

        color: #474f52;
        font-weight: 900;
        margin: 12px 0;
        font-size: 26px;
        line-height: 32px;
        @include mq(mobileLandscape) {
            font-size: 32px;
            line-height: 36px;
        }
        @include mq(tablet) {
            font-size: 36px;
            line-height: 42px;
            padding-right: 130px;
            margin-bottom: 36px;
        }
        @include mq(desktop) {
            font-size: 42px;
            line-height: 48px;
        }
        > span {
            color: #95a0a4;
        }
    }
}

.cnv-conversation__body {
    @include fs-bodyCopy(2);
    color: #444;
    max-width: 620px;
}
.cnv-conversation__controls {
    height: 48px;
    margin-bottom: 12px;
    position: relative;
    @include mq(tablet) {
        position: absolute;
        right: 20px;
        top: 24px;
        margin-bottom: 0;
        height: auto;
    }
    @include mq(desktop) {
        right: 20px;
    }
}
.cnv-conversation__top {
    @include mq($until: tablet) {
        position: absolute;
        top: 0; bottom: 0;
        margin: auto;
        right: 0;
    }
    width: 44px;
    height: 44px;
    border-radius: 1000px;
    display: block;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
    svg {
        width: 24px;
        fill: #bdbdbd;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 4px;
        margin: auto;
    }
    &:hover {
        border: 1px solid #767676;
        svg {
            fill: #767676;
        }
    }
}

.cnv-conversation__block-pic {
    width: 100%;
}

.cnv-conversation__share-btns {
    @include mq($until: tablet) {
        height: 32px;
        position: absolute;
        top: 0; bottom: 0;
        margin: auto;
    }
    display: inline-block;
    vertical-align: middle;
}

.cnv-fixed-menu {
    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    width: 100%;
    color: #f7f7f7;
    background: darken(#474f52, 2%);
    &[data-show] {
        display: block;
    }
}

.cnv-fixed-menu__content {
    max-width: $max-content-width;
    margin: auto;
    padding-left: 10px;
    @include mq(mobileLandscape) { padding-left: 20px; }
    @include mq(tablet) { padding-left: 60px; }
    @include mq(desktop) { padding-left: 80px; }
    box-sizing: border-box;
    position: relative;
    background: #474f52;
    > h2 {
        @include fs-bodyHeading(4);
        margin: 0;
        line-height: 48px;
        color: #6e7275;
    }
}

.cnv-fixed-menu__title {
    color: #dfdfdf;
}

.cnv-fixed-menu__arrow {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    width: 34px;
    height: 34px;
    border-radius: 1000px;
    display: block;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 0;
    svg {
        width: 20px;
        fill: #dfdfdf;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto;
    }
    &:hover {
        border: 1px solid #ffffff;
        svg {
            fill: #ffffff;
        }
    }
    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}

.cnv-fixed-menu__arrow--down {
    right: 20px;

}
.cnv-fixed-menu__arrow--up {
    right: 60px;
}

.cnv-head__conversation {
    opacity: 0;
}
.cnv-head--animate .cnv-head__conversation {
    opacity: 1;
    transition: 0.5s opacity;
}
@for $i from 3 through 15 {
    .cnv-head--animate .cnv-head__conversation:nth-child(#{$i}) {
        transition-delay: 0.1s * $i;
    }
}
